<!DOCTYPE html>
<html>
  <head>
    <title>Tic Tac Toe | AngularJS</title>
    <link rel="icon" type="image/x-icon" href="images/tic-tac-toe.ico">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="tic-tac-toe.css"/>
    <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="tic-tac-toe.js"></script>
  </head>
  <body ng-app="TicTacToeApp">
    <div ng-controller="TicTacToeController" ng-init="init()">
      <div class="top_buttons">
        <div class="left_buttons mt-3 ms-3">
          <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
          <label class="btn btn-primary me-2" for="option1" ng-click="darkMode()" title="Change to dark mode"><img class="me-2" src="images/moon-stars.svg" width="30" height="30"/>Dark Mode</label>
          <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
          <label class="btn btn-primary" for="option2" ng-click="lightMode()" title="Change to light mode"><img class="me-2" src="images/sun.svg" width="30" height="30"/>Light Mode</label>
        </div>
        <div class="right_buttons mt-3 me-3">
          <a class="btn btn-primary me-2" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Tic-tac-toe" role="button" title="How To Play">
            <img class="me-2" src="images/question-circle.svg" width="30" height="30"/>
            How To Play
          </a>
          <a class="btn btn-primary" target="_blank" rel="noopener noreferrer" href="https://github.com/trien-hong/tic-tac-toe-angularjs" role="button" title="GitHub Repository">
            <img class="me-2" src="images/github.svg" width="30" height="30"/>
            GitHub Repository
          </a>
        </div>
      </div>
      <div class="counter">
        <div class="player1_win_count" title="Player 1's win count">
          <div>
            <h1>Player 1 (X):</h1>
          </div>
          <div>
            <h1><u>{{player1_win_count}}</u></h1>
          </div>
        </div>
        <div class="tie_count px-5" title="Tie/draw count">
          <div>
            <h1>Tie:</h1>
          </div>
          <div>
            <h1><u>{{tie_count}}</u></h1>
          </div>
        </div>
        <div class="player2_win_count" title="Player 2's win count">
          <div>
            <h1>Player 2 (O):</h1>
          </div>
          <div>
            <h1><u>{{player2_win_count}}</u></h1>
          </div>
        </div>
      </div>
      <div class="tic_tac_toe_board py-5">
        <div class="board_row1">
          <!-- board_value_array[index][value, isDisabled, color] -->
          <button type="button" id="square0" class="btn {{board_value_array[0][2]}} mx-3 my-3" ng-click="switchSymbol(0)" ng-disabled="board_value_array[0][1]"><b>{{board_value_array[0][0]}}</b></button>
          <div class="square1">
            <button type="button" id="square1" class="btn {{board_value_array[1][2]}} mx-3 my-3" ng-click="switchSymbol(1)" ng-disabled="board_value_array[1][1]"><b>{{board_value_array[1][0]}}</b></button>
          </div>
          <button type="button" id="square2" class="btn {{board_value_array[2][2]}} mx-3 my-3" ng-click="switchSymbol(2)" ng-disabled="board_value_array[2][1]"><b>{{board_value_array[2][0]}}</b></button>
        </div>
        <div class="board_row2">
          <!-- board_value_array[index][value, isDisabled, color] -->
          <button type="button" id="square3" class="btn {{board_value_array[3][2]}} mx-3 my-3" ng-click="switchSymbol(3)" ng-disabled="board_value_array[3][1]"><b>{{board_value_array[3][0]}}</b></button>
          <div class="square4">
            <button type="button" id="square4" class="btn {{board_value_array[4][2]}} mx-3 my-3" ng-click="switchSymbol(4)" ng-disabled="board_value_array[4][1]"><b>{{board_value_array[4][0]}}</b></button>
          </div>
          <button type="button" id="square5" class="btn {{board_value_array[5][2]}} mx-3 my-3" ng-click="switchSymbol(5)" ng-disabled="board_value_array[5][1]"><b>{{board_value_array[5][0]}}</b></button>
        </div>
        <div class="board_row3">
          <!-- board_value_array[index][value, isDisabled, color] -->
          <button type="button" id="square6" class="btn {{board_value_array[6][2]}} mx-3 my-3" ng-click="switchSymbol(6)" ng-disabled="board_value_array[6][1]"><b>{{board_value_array[6][0]}}</b></button>
          <div class="square7">
            <button type="button" id="square7" class="btn {{board_value_array[7][2]}} mx-3 my-3" ng-click="switchSymbol(7)" ng-disabled="board_value_array[7][1]"><b>{{board_value_array[7][0]}}</b></button>
          </div>
          <button type="button" id="square8" class="btn {{board_value_array[8][2]}} mx-3 my-3" ng-click="switchSymbol(8)" ng-disabled="board_value_array[8][1]"><b>{{board_value_array[8][0]}}</b></button>
        </div>
      </div>
      <div class="status">
        <h1>{{status}}</h1>
      </div>
      <div class="reset pt-4">
        <button type="button" class="btn btn-primary" ng-click="resetBoard()" ng-if="showResetButton"><h5>Reset Board?</h5></button>
      </div>
      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="images/tic-tac-toe.svg" width="16" height="16" class="toast_icon me-2">
            <strong class="me-auto">{{toastTitle}}</strong>
            <b><u><small>{{toastSubtitle}}</small></u></b>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" title="CLOSE ALERT"></button>
          </div>
          <div class="toast-body">
            <b><p class="mb-0 pb-0">{{toastMessage}}</p></b>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal">
        <div class="modal-dialog {{modalSize}}">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                <b><u>{{modalTitle}}</u></b>
              </h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" title="CLOSE ALERT"></button>
            </div>
            <div class="modal-body text-break">
              <h5 ng-class="modalClass" ng-if="show_modal_message_class">{{modalMessage}}</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" ng-if="show_modal_confirm_button" ng-click="this[confirm_function](confirm_parameter)" title="YES">YES</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" ng-if="show_modal_confirm_button" title="NO">NO</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-if="show_modal_close_button" title="CLOSE ALERT">CLOSE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>