<!DOCTYPE html>
<html>
  <head>
    <title>Tic Tac Toe | AngularJS</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="tic-tac-toe.css"/>
    <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="tic-tac-toe.js"></script>
  </head>
  <body ng-app="TicTacToeApp">
    <div class="container" ng-controller="TicTacToeController" ng-init="init()" style="width: 1320px;">
      <div class="counter">
        <div>
          <h4>Player 1 (X): <u>{{player1_win_count}}</u></h4>
        </div>
        <div class="mx-4">
          <h4>Tie: <u>{{tie_count}}</u></h4>
        </div>
        <div>
          <h4>Player 2 (O): <u>{{player2_win_count}}</u></h4>
        </div>
      </div>
      <div class="tic_tac_toe_board py-4">
        <div class="bord_row1">
          <!-- bord_value_array[index][value, isDisabled] -->
          <button type="button" class="btn btn-light btn-lg mx-2 my-2" ng-click="switchSymbol(0)" ng-disabled="bord_value_array[0][1]">{{bord_value_array[0][0]}}</button>
          <div class="square1">
            <button type="button" class="btn btn-light btn-lg mx-2 my-2" ng-click="switchSymbol(1)" ng-disabled="bord_value_array[1][1]">{{bord_value_array[1][0]}}</button>
          </div>
          <button type="button" class="btn btn-light btn-lg mx-2 my-2" ng-click="switchSymbol(2)" ng-disabled="bord_value_array[2][1]">{{bord_value_array[2][0]}}</button>
        </div>
        <div class="bord_row2">
          <!-- bord_value_array[index][value, isDisabled] -->
          <button type="button" class="btn btn-light btn-lg mx-2 my-2" ng-click="switchSymbol(3)" ng-disabled="bord_value_array[3][1]">{{bord_value_array[3][0]}}</button>
          <div class="square4">
            <button type="button" class="btn btn-light btn-lg mx-2 my-2" ng-click="switchSymbol(4)" ng-disabled="bord_value_array[4][1]">{{bord_value_array[4][0]}}</h3></button>
          </div>
          <button type="button" class="btn btn-light btn-lg mx-2 my-2" ng-click="switchSymbol(5)" ng-disabled="bord_value_array[5][1]">{{bord_value_array[5][0]}}</button>
        </div>
        <div class="bord_row3">
          <!-- bord_value_array[index][value, isDisabled] -->
          <button type="button" class="btn btn-light btn-lg mx-2 my-2" ng-click="switchSymbol(6)" ng-disabled="bord_value_array[6][1]">{{bord_value_array[6][0]}}</button>
          <div class="square7">
            <button type="button" class="btn btn-light btn-lg mx-2 my-2" ng-click="switchSymbol(7)" ng-disabled="bord_value_array[7][1]">{{bord_value_array[7][0]}}</button>
          </div>
          <button type="button" class="btn btn-light btn-lg mx-2 my-2" ng-click="switchSymbol(8)" ng-disabled="bord_value_array[8][1]">{{bord_value_array[8][0]}}</button>
        </div>
      </div>
      <div class="status">
        <h3>{{status}}</h3>
      </div>
      <div class="reset pt-4">
        <button type="button" class="btn btn-primary" ng-click="resetBord()" ng-if="showResetButton"><h5>Reset Board?</h5></button>
      </div>
      <div class="modal fade" id="modal">
        <div class="modal-dialog {{modalSize}}">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                <b><u>{{modalTitle}}</u></b>
              </h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" title="CLOSE ALERT"></button>
            </div>
            <div class="modal-body text-break">
              <h5 ng-class="modalClass" ng-if="show_modal_message_class">{{modalMessage}}</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" ng-if="show_modal_confirm_button" ng-click="this[confirm_function](confirm_parameter)" title="YES">YES</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" ng-if="show_modal_confirm_button" title="NO">NO</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-if="show_modal_close_button" title="CLOSE ALERT">CLOSE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>