.top_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.player1_win_count, .tie_count, .player2_win_count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tic_tac_toe_board {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board_row1, .board_row2, .board_row3 {
    display: flex;
    flex-direction: row;
}

.board_row2 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.square1, .square4, .square7 {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#square0, #square1, #square2, #square3, #square4, #square5, #square6, #square7, #square8 {
    min-width: 80px;
    min-height: 80px;
    font-size: 35px;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px #4F4F4F;
}

.status {
    display: flex;
    justify-content: center;
}

.reset {
    display: flex;
    justify-content: center;
}

.toast_icon {
    border: 1px solid gray;
    background-color: white;
}

.toast-header {
    background-color: wheat;
}

.toast-body {
    background-color: wheat;
}

.toast {
    --bs-border-color-translucent: black;
    --bs-toast-border-color: unset;
    --bs-toast-header-color: black;
}