body {
    background-color: #D3D3D3;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

.tic_tac_toe_board {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bord_row1, .bord_row2, .bord_row3 {
    display: flex;
    flex-direction: row;
}

.bord_row2 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.square1, .square4, .square7 {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.status {
    display: flex;
    justify-content: center;
}

.reset {
    display: flex;
    justify-content: center;
}