body {
    background-color: #D3D3D3;
}

.tic-tac-toe-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
}

.status {
    display: flex;
    justify-content: center;
}